<!DOCTYPE html>
<html>

<head>
    <title>NPV Calculator</title>
</head>

<body>
    <h1>Net Present Value (NPV) Calculator</h1>

    <form action="/calculate" method="post">
        <label for="cashflow">Cash Flows (separated by commas):</label><br>
        <input type="text" name="cashflow" id="cashflow"><br><br>

        <label for="rate_of_return">Rate of Return:</label><br>
        <input type="text" name="rate_of_return" id="rate_of_return"><br><br>

        <input type="submit" value="Calculate NPV">
    </form>
</body>

</html>